*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font;
  font-style: normal;

  &.modal-open {
    overflow: hidden;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}

.address {
  font-style: normal;
  margin: 0;
}

img {
  display: block;
}
h1,
h2,
h3,
p {
  margin: 0;
}
