.footer {
  background-color: #2f303a;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  &__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      margin-right: 0;
      font-size: 26px;
      line-height: 1.192;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;
    }
  }
  &__address {
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 70px;
    }

    &-list {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.715;
      text-align: center;
      letter-spacing: 0.03em;

      color: #ffffff;
      margin-bottom: 60px;
      margin-top: 20px;
      @media screen and (min-width: 1200px) {
        text-align: left;
        margin-bottom: 0;
        width: 232px;
      }
    }

    &-link {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);

      &:hover,
      &:focus {
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
      }
    }
    &-item:not(:last-child) {
      margin-bottom: 8px;
      @media screen and (min-width: 748px) {
        margin-bottom: 9px;
      }
    }
    &-link--light {
      color: #fff;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }
  &-social {
    @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
      width: 206px;
    }
  }
}
.subscribe {
  margin-top: 60px;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
  .subscribe-form__email {
    padding: 15px 16px;
    width: 100%;
    max-width: 450px;
    height: 50px;
    outline: none;
    font-weight: 400;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2f303a;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
      width: 358px;
      margin-right: 12px;
    }
    &::placeholder {
      font-family: $main-font;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

.modal-button__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1200px) {
    display: inline-flex;
  }

  &::after {
    content: "";
    display: inline-flex;
    background-color: $color-accent;
    background-image: url("../images/icon-send.svg");
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.address-social__wrapper {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
/*  &__address {
    margin-right: 70px;

    &-link {
      color: rgba(255, 255, 255, 0.6);
      text-decoration: none;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        text-decoration: none;
        color: #fff;
      }
    }
    &-list {
      margin-top: 20px;
    }
    &-item:not(:last-child) {
      margin-bottom: 9px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
  }
  &__label {
    margin-bottom: 0;
  }
}
.subscribe {
  margin-left: auto;

  &-form {
    position: relative;
    width: 570px;
    height: 86px;
    display: flex;
    flex-wrap: wrap;

    &__email {
      display: inline-block;
      width: 358px;
      height: 50px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 16px;
      background-color: #2f303a;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      margin-top: 20px;
      outline: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: #fff;
    }
    &__email::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
.modal-button__footer {
  display: inline-flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  position: absolute;
  right: 0;
  bottom: -3px;
  text-align: left;

  &::after {
    content: "";
    display: inline-block;
    background-color: $color-accent;
    background-image: url("../images/icon-send.svg");
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
*/
