.our-works {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 0;
  }
}
.examples-list {
  display: flex;
  justify-content: space-between;

  &__item {
    position: relative;
  }
  &__description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    padding-top: 27px;

    color: #ffffff;
  }
}
